body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

ol {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f2f2f2;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

p {
    margin: 10px 0;
}

.podium-1 {
    background-color: #FFD700; /* Gold */
}

.podium-2 {
    background-color: #C0C0C0; /* Silver */
}

.podium-3 {
    background-color: #cd7f32; /* Bronze */
}

.Cookie_stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}